@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) { /*tablet*/
    body {
        background-image: linear-gradient(to top, #807E26, #265D80);
    }
    
    #login {
        width: 90vw;
    }

    #login > #imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    #login > #formulario {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) { /*Desktop*/
    body {
        background-image: linear-gradient(to top, #807E26, #265D80);
    }

    #login {
        width: 950px;
    }

    #login > #imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    #login > #formulario {
        float: left;
        width: 50%;
    }

    #formulario > p {
        font-size: 1.2em;
    }
}